*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

:root{
--primary-Light-red: hsl(356, 100%, 66%);
--primary-Very-light-red: hsl(355, 100%, 74%);       /* ### Primary */
--primary-Very-dark-blue: hsl(208, 49%, 24%);

--neutral-White-text: hsl(0, 0%, 100%);
--neutral-Grayish-blue-footer-text: hsl(240, 2%, 79%);
--neutral-Very-dark-grayish-blue: hsl(207, 13%, 34%);       /* ### Neutral */
--neutral-Very-dark-black-blue-footer: hsl(240, 10%, 16%);

--grad-Very-light-red: hsl(13, 100%, 72%);                  /* Background gradient - Intro/CTA mobile nav: */
--grad-Light-red: hsl(353, 100%, 62%);

--body-Very-dark-gray-blue: hsl(237, 17%, 21%);             /* Background gradient - body */
--body-Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

.header{
    background-image: linear-gradient(90deg,
     rgba(255, 122, 133, 0.9) 10%,
     rgba(255, 61, 84, 0.8) 70%),
        url("/images/bg-pattern-intro-desktop.svg");
    background-position: 27% 51%;
    height: 500px;
    border-radius: 0 0 0 50px;
}

.logo{
    width: 100px;
    padding: 50px;
    margin-left: 100px;
}

.header-top{
    display: flex;
    align-items: center;
}

.header-botton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.bar-nav{
    margin-right: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-options{
    display: flex;
    align-items: center;
}

.bar-options img{
    margin: 8px;
}

.header{
    color: var(--neutral-White-text);
}

.header h1{
    font-size: 62px;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0 60px 0;
}


/* estilo dos botoes header*/

.header-link-top a{
    font-weight: 600;
    margin: 8px;
    text-decoration: none;
    color: var(--neutral-White-text);
}

.header-link-top .sign-up{
    padding: 8px 40px 8px 40px;
    border-radius: 20px;
    color: var(--grad-Light-red);
    background-color: var(--neutral-White-text);
}

.header-botton .start{
    padding: 7px 18px 7px 18px;
    border-radius: 20px;
    color: var(--grad-Light-red);
    background-color: var(--neutral-White-text);
    font-weight: 600;
    border: none;
    margin-right: 10px;
    text-decoration: none;
}

.header-botton .learn{
    padding: 7px 18px 7px 18px;
    border-radius: 20px;
    color: var(--neutral-White-text);
    font-weight: 600;
    border: 1px solid var(--neutral-White-text);
    text-decoration: none;
}

/* estilo section two */

.section-two {
    display: flex;
    align-items: center;
}

.section-two-title h2{
    position: absolute;
    top: 100%;
    left: 40%;
    height: 30px;
    font-size: 30px;
    color: var(--primary-Very-dark-blue);
}

.section-two img{
    position: relative;
    top: 50%;
    left: 75%;
    margin-top: 10px;
    transform: translate(-50%,-50%);
}

.div-imagem-editor{
    position: relative;
    width: 800px;
    height: 1000px;  
    overflow: hidden;
} 

.section-two-text{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 500px;
    margin-top: 90px;
    padding: 0 0 0 150px;
}

.section-two-text h3{
   width: 540px;
   color: var(--primary-Very-dark-blue);
   font-size: 20px;
}

/* estilo section tree */

.section-tree{
    background-image: linear-gradient(90deg,
    rgba(17, 4, 78, 0.89) 10%,
    rgba(3, 1, 31, 0.8) 90%),
       url("/images/bg-pattern-circles.svg");
   background-position: -70% 100%;
   height: 400px;
   border-radius: 0 50px 0 50px;
   background-repeat: no-repeat;
}

.section-tree h2{
    position: relative;
    left: 60%;
    top: 10px;
    color: var(--neutral-White-text);
    text-align: center;
    width: 500px;
    font-size: 35px;
    top: 30%;
    left: 51%;
}

.section-tree p{
    position: relative;
    left: 60%;
    top: 10px;
    color: var(--neutral-White-text);
    width: 500px;
    top: 30%;
    left: 50%;
}

.section-tree-img{
    position: absolute;
    left: 8%;
    top: 218%;
}

/* estilo section four */

.section-four {
    display: flex;
    align-items: center;
}

.section-four img{
    position: relative;
    top: 55%;
    left: 25%;
    transform: translate(-50%,-50%);
}

.div-imagem-laptop{
    position: relative;
    width: 800px;
    height: 1000px;  
    overflow: hidden;
    margin-bottom: 50px;
} 

.section-four-text{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 500px;
    margin-top: 90px;
    padding: 0 150px 0 0;
}

.section-four-text h3{
   width: 540px;
   color: var(--primary-Very-dark-blue);
   font-size: 20px;
}

/* estilo do footer */

.footer{
    background-color: var(--body-Very-dark-gray-blue);
    border-radius: 0% 50px 0% 0%;
    height: 300px;
}

.footer img{
    margin: 80px 100px;
}

.footer-nav{
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: absolute;
    top: 460%;
    left: 40%;
    width: 600px;
}

.footer-colum h2{
    font-weight: 600;
    color: var(--neutral-White-text);
    margin-bottom: 15px;
}

.footer-colum li, a{
    color: var(--neutral-Grayish-blue-footer-text);
    padding: 0 0 5px 0;
    list-style-type: none;
    text-decoration: none;
}
